<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/index.css" rel="stylesheet"/>
</head>

<body>
<div class="navbar navbar-duomi navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" id="logo">Zookeeper 配置中心</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
                <li class="active">
                    <a href="#"><i class="glyphicon glyphicon-th-large"></i>
                        <span th:text="${projectNode.desc}"></span>
                        <input name="parentPath" th:value="${projectNode.parentPath}" type="hidden"/>
                        <input name="name" th:value="${projectNode.name}" type="hidden"/>
                    </a>
                </li>

                <li th:each="oneEnvNode,itemStat:${accessEnvs}">
                    <a href="#"> <i class="glyphicon glyphicon-th-large"></i>
                        <span th:text="${oneEnvNode.desc}"></span>
                        <input name="parentPath" th:value="${oneEnvNode.parentPath}" type="hidden"/>
                        <input name="name" th:value="${oneEnvNode.name}" type="hidden"/>
                    </a>
                </li>

            </ul>
        </div>
        <div class="col-md-10">
            <div class="tab-content">
                <div class="tab-pane active" id="panel-1">
                    <form class="form-inline dis-inline" role="form">
                        <div class="form-group">
                            <label class="" for="add">增加：</label>
                            <input type="text" class="form-control" id="add"/>
                            <button class="btn btn-primary">增加</button>
                        </div>
                    </form>
                    <form class="form-inline dis-inline col-md-offset-2" role="form">
                        <div class="form-group">
                            <label class="" for="del">删除：</label>
                            <input type="text" class="form-control" id="del"/>
                            <button class="btn btn-primary">删除</button>
                        </div>

                    </form>
                    <br/>
                    <br/>
                    <form class="form-inline dis-inline" role="form">
                        <div class="form-group">
                            <label class="" for="update">修改：</label>
                            <input type="text" id="update" class="form-control"/>
                            <button class="btn btn-primary">修改</button>

                        </div>
                    </form>
                    <form class="form-inline dis-inline col-md-offset-2" role="form">
                        <div class="form-group dis-inline">
                            <label class="" for="select">查询：</label>
                            <input type="text" class="form-control" id="select"/>
                            <button class="btn btn-primary">查询</button>
                        </div>

                    </form>

                    <br/>
                    <br/>
                    <table class="table">
                        <tr>
                            <th>节点名称</th>
                            <th>节点描述</th>
                            <th>是否加密</th>
                            <th>节点值</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="oneEnvNode,itemStat:${page.zooKeeperProsNodes}">
                            <td th:text="${oneEnvNode.name}"/>
                            <td th:text="${oneEnvNode.desc}"/>
                            <td th:text="${oneEnvNode.mask}?'是':'否''"/>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger">删除</button>
                                    <button type="button" class="btn btn-warning">修改</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav class="text-center">
                        <ul class="pagination">
                            <li th:with="eachPage = 0..${page.pages}">
                                <a href="#">&laquo;</a>
                            </li>
                            <li th:each="oneEnvNode,itemStat:${eachPage}>
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <p class="text-center">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">弹出窗</button>
        </p>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">弹窗标题</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="form-inline dis-inline" role="form">
                        <div class="form-group">
                            <label class="" for="add">增加：</label>
                            <input type="text" class="form-control" id="add"/>
                            <button class="btn btn-primary">增加</button>

                        </div>
                    </form>
                    <form class="form-inline dis-inline" role="form">
                        <div class="form-group">
                            <label class="" for="del">删除：</label>
                            <input type="text" class="form-control" id="del"/>
                            <button class="btn btn-primary">删除</button>
                        </div>

                    </form>
                    <br/>
                    <br/>
                    <form class="form-inline dis-inline" role="form">
                        <div class="form-group">
                            <label class="" for="update">修改：</label>
                            <input type="text" id="update" class="form-control"/>
                            <button class="btn btn-primary">修改</button>

                        </div>
                    </form>
                    <form class="form-inline dis-inline" role="form">
                        <div class="form-group dis-inline">
                            <label class="" for="select">查询：</label>
                            <input type="text" class="form-control" id="select"/>
                            <button class="btn btn-primary">查询</button>
                        </div>

                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript">

</script>
</body>
</html>