<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>
        <script src="/js/jquery-1.8.3.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
    </head>
    <body>
        <ul id="menu">
            <li>
                <a href="#" class="drop">配置中心</a>
                <div class="dropdown_1column">
                    <ul class="greybox">
                        <li sec:authorize="hasRole('ROLE_admin')"><a th:href="@{/showSpkey.htm}">统一密钥</a></li>
                        <li><a th:href="@{/showpubconf.htm}">公共配置</a></li>
                        <li sec:authorize="hasRole('ROLE_admin')"><a href="#" onclick="accSpkey()">环境管理</a></li>
                    </ul>
                </div>
            </li>
            <li th:each="oneEnvNode,itemStat:${accessEnvs}">
                <a href="showSubProject(${oneEnvNode.parentPath},${oneEnvNode.name})" class="drop" th:text="${oneEnvNode.desc}"></a>
            </li>
            <li class="menu_right">
                <a href="#" class="drop">当前用户</a>
                <div class="dropdown_1column align_right">
                    <div class="col_1">
                        <p class="black_box" sec:authentication="name"}></p>
                    </div>
                </div>
            </li>
        </ul>
        <div style="padding: 100px 100px 10px;" class="mydiv">
            <div>
                <ol class="breadcrumb">
                    <li><a th:href="@{/index.htm}">配置中心</a></li>
                </ol>
            </div>
            <div>
                <h2>欢迎来到zookeeper配置中心</h2>
            </div>
        </div>
    </body>
    <script type="application/javascript">
        function accPublicConfig(){
            $('#showHtml').fadeOut();
            $.ajax({
                type: "POST",
                url: "[[@{/showpubconf.htm}]]",
                success: function(result) {
                    $('#showHtml').html(result);
                    $('#showHtml').fadeIn();
                }
            });
            return false;
        }

        function directEnvManage(){
            $('#showHtml').fadeOut();
            $.ajax({
                type: "POST",
                url: "/show_all_env.htm",
                success: function(result) {
                    $('#showHtml').html(result);
                    $('#showHtml').fadeIn();
                }

            });
        }

        function showSubProject(parentPath, name){
            $('#showHtml').fadeOut();
            var zkpros = returnZkprosJson(name,parentPath,"1",'anything');
            $.ajax({
                type: "POST",
                url: "123456",
                data: zkpros,
                dataType: "json",
                success: function(result) {
                    $('#showHtml').html(result);
                    $('#showHtml').fadeIn();
                }
            });
        }
        function returnZkprosJson(name,parentPath,type,desc){
            var zkpros = JSON.stringify({});
            zkpros.name = name;
            zkpros.parentPath = parentPath;
            zkpros.type = type;
            zkpros.desc = desc;
            return zkpros;
        }
    </script>
</html>