<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet"/>
    </head>
    <body>
        <ul id="menu">
            <li>
                <a href="#" class="drop">zookeeper properties 配置中心</a>
                <div class="col_1">

                    <ul class="greybox">
                        <li><a href="#">FreelanceSwitch</a></li>
                        <li><a href="#">Creattica</a></li>
                        <li><a href="#">WorkAwesome</a></li>
                        <li><a href="#">Mac Apps</a></li>
                        <li><a href="#">Web Apps</a></li>
                    </ul>

                </div>
            </li>
            <li>
                <a href="#" class="drop">zookeeper 密钥</a>
            </li>
            <li>
                <a href="#" class="drop">zookeeper 密钥</a>
            </li>
        </ul>
    </body>
</html>