<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/pqgrid.min.css" />
        <!--PQ Grid Office theme-->
        <link rel="stylesheet" href="/css/themes/office/pqgrid.css" />
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>
        <!--jQuery dependencies-->
        <link rel="stylesheet" href="/css/base/jquery-ui.min.css" />
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/pqgrid.min.js"></script><!--PQ Grid files-->
    </head>

    <body>
        <div th:include="temp/menu">&nbsp;</div>
        <div id="popup-dialog-crud" style="display:none;">
            <form id="crud-form">
                <div class="input-group">
                    <span class="input-group-addon">节点名称:</span>
                    <input type="text" class="form-control" name="zkpros.name" id="name">
                    <input type="hidden" class="form-control" name="zkpros.type" value="4">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">节点描述:</span>
                    <input type="hidden" class="form-control" name="zkpros.type" th:value="${curParentPath}">
                    <input type="text" class="form-control" name="zkpros.desc" id="desc">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">节点值域:</span>
                    <input type="hidden" name="editType" value="add"/>
                    <input type="text" class="form-control" name="zkpros.value" id="value">
                </div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <input type="hidden" name="zkpros.mask" id="mask"/>
                            <input type="checkbox" name="maskCheck" id="maskCheck" onchange="changeMask()">是否加密

                        </span>
                </div>
            </form>
        </div>
        <div style="padding: 100px 100px 10px;" class="mydiv">
            <div>
                <ol class="breadcrumb">
                    <li><a th:href="@{/index.htm}">配置中心</a></li>
                    <li><a th:href="@{/showpubconf.htm}">公共配置</a></li>
                </ol>
            </div>
            <div id="grid_paging" style="margin:5px auto;"></div>
        </div>
        <script type="application/javascript">
            $(function () {
                var colM = [
                    { title: "节点名称", width: 130, dataIndx: "name" },
                    { title: "节点描述", width: 100, dataIndx: "desc" },
                    { title: "是否加密", width: 100, dataIndx: "mask",
                        dataType: "bool",editor: { type: "checkbox", style: "margin:3px 5px;" }},//checkbox show
                    { title: "节点值", width: 100, dataIndx: "value" }
                ];
                var dataModel = {
                    location: "remote",
                    dataType: "JSON",
                    method: "POST",
                    url: "/showAllPros.json",
                    getData: function (dataJSON) {
                        return { curPage: dataJSON.curPage, totalRecords: dataJSON.totalRecords, data: dataJSON.data };
                    }
                }
                var pgConf = { width: 750 , height: 400,
                    dataModel: dataModel,
                    colModel: colM,
                    freezeCols: 0,
                    pageModel: { type: "remote", rPP: 20, strRpp: "{0}" },
                    sortable: false,
                    wrap: false, hwrap: false,
                    numberCell:{resizable:false, width:30, title:""},
                    title: "公共节点管理",
                    resizable: true
                }
                pgConf.toolbar = {
                    items: [
                        { type: 'button', label: '增加', listeners: [{ click: addRow}], icon: 'ui-icon-plus' },
                        { type: 'button', label: '编辑', listeners: [{ click: editRow}], icon: 'ui-icon-pencil' },
                        { type: 'button', label: '删除', listeners: [{ click: deleteRow}], icon: 'ui-icon-minus' },
                        { type: "<span style='margin:5px;'></span>" },
                        { type: 'textbox', attr: 'placeholder="输入查找的关键字"', cls: "filterValue" },
                    ]
                };
                var $grid  = $("div#grid_paging").pqGrid(pgConf);
                function editRow() {
                    var rowIndx = getRowIndx();
                    if (rowIndx != null) {
                        var row = $grid.pqGrid('getRowData', {rowIndx: rowIndx});
                        modifyProsSpan("edit",editzkprops);
                    }
                }
                var modifyAddDialog = $( "#popup-dialog-crud" ).dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    buttons: {
                        "提交": ajaxEditAndrefresh
                    }
                });
                function addRow() {
                    modifyAddDialog.dialog("open");
                }
                function modifyProsSpan(editType){;
                    if(editType == 'add'){
                        $('#popup-dialog-crud').find('input').each(function () {
                            $(this).val('');
                        });
                    }else{

                    }
                }

                function ajaxEditAndrefresh(){
                    var $frm = $("form#crud-form");
                    $.ajax({
                        type: "POST",
                        url: "[[@{/modifypubConf.json}]]",
                        dataType:"json",
                        data:"1243",
                        success: function(result) {
                            $("div#grid_paging").pqGrid('reload');
                            $( "#popup-dialog-crud" ).dialog('close');
                            editzkprops.name = '';
                            editzkprops.desc = '';
                            editzkprops.value = '';
                            editzkprops.mask = '';
                        }
                    });
                }
                //delete Row.
                function deleteRow() {
                    var rowIndx = getRowIndx();
                    if (rowIndx != null) {
                        $grid.pqGrid("deleteRow", { rowIndx: rowIndx });
                        $grid.pqGrid("setSelection", { rowIndx: rowIndx });
                    }
                }
                function getRowIndx() {
                    var arr = $grid.pqGrid("selection", { type: 'row', method: 'getSelection' });
                    if (arr && arr.length > 0) {
                        return arr[0].rowIndx;
                    }
                    else {
                        alert("Select a row.");
                        return null;
                    }
                }
            });
        </script>

    </body>
</html>