<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <div style="padding: 100px 100px 10px;">
        <form class="bs-example bs-example-form" role="form">
            <div class="input-group">
                <span class="input-group-addon">3DES加密密钥</span>
                <input type="text" class="form-control" name="spkey" id="spkey" th:value="${spkey}">
                <button type="button" class="btn input-group-addon" onclick="modifySpkey()">修改</button>
            </div>
        </form>
    </div>
    <script type="application/javascript">
        function modifySpkey(){
            $.ajax({
                type: "POST",
                url: "[[@{/modifySpkey.json}]]",
                data:{"spkey": $('#spkey').val()},
                dataType: "json",
                error: function(msg) { alert("error"); },
                complete: function(msg) { alert("complete");},
                success: function(msg) {
                    alert(msg);
                    alert("修改成功");
                }
            });
        }
    </script>
</html>